<div class="searchBar">
    <a href="/" class="sbrc_car">
        <i class="fas fa-dice-d20 sb_icon"></i>
    </a>
    <div class="searchBarRightA">
        <nav class="SB-nav-menudrop">
            <ul>
                <li>Hola&nbsp;<span class="sbra_name">José</span>&nbsp;<i class="fas fa-chevron-down"></i>
                <ul>
                    <li><a href="/account">Cuenta</a></li>
                <ul>                      
            </ul>
        </nav>
    </div>
    <div class="searchBarRightB">
        <form class="sbrb_form">
            <input type="text" placeholder="Buscar" class="sbrbf_input"/>
            <button class="sbrbf_button">
                <i class="fas fa-search sbrbfb_icon"></i>
            </button>
        </form>
    </div>
    <div class="searchBarRightC">
        <i class="fas fa-map-marker sbrc_icon"></i> <span class="sbrc_text sbrc_textDirection">Ciudad de México</span>
        <a href="/car" class="sbrc_car">
            <i class="fas fa-cart-plus sbrc_icon"></i> <span class="sbrc_text">Carrito</span>
        </a>
    </div>
</div>