
        <header>
            <div class="logo">
                <a href="/" class="indexMobileNavA"><i class="fas fa-dice-d20"></i></a>
            </div>
        </header>

        <main>    

            <h2>¡Registrate!</h2>
            <h3>Ingresa tus datos:</h3>

            <form action="/register" method="POST" enctype="multipart/form-data">
                <div class="informacion">
                    <input type="text" name="firstname" placeholder="Nombre">
                    <input type="text" name="lastname" placeholder="Apellido">
                    <input type="email" name="email" placeholder="E-mail">
                </div>

                <h3>Elegí tu foto de usuario</h3>

                <div class="info_usuario">
                <input type="file" name="avatar">
                <br>
                <br>
                <input type="password" name="password" placeholder="Elegí tu contraseña">
                <input type="password" name="pass_confirm" placeholder="Confirmá tu contraseña">
                <br>
                <br>
                <div class="tipo-ingreso">
                    <h3>Entrar como:</h3>
                    <div class="profile">
                        <div class="comprador">
                        <input type="radio" name="rol" value="1" id="buy">
                        <label for="buy">Comprador</label>
                         </div>
                         <div class="vendedor">
                        <input type="radio" name="rol" value="2" id="sell">
                        <label for="sell">Vendedor</label>
                        </div>
                    </div>
                </div>
                <br/><br/>
                <input type="submit" value="Enviar">
                <input type="reset" value="Borrar">
                <br>
                <br>
                </div>
            </form>
            
            <div class="opciones">
            <a href="/login">Ya tengo cuenta</a>
            <a href="/">regresar</a>
            </div>
        </main>

        <div class="slider">
            <ul>
                <li><img src="/Register/img/login.jpeg" alt=""></li>
                <li><img src="/Register/img/login2.jpg" alt=""></li>
                <li><img src="/Register/img/login3.jpg" alt=""></li>
                <li><img src="/Register/img/login4.jpg" alt=""></li>
                <li><img src="/Register/img/login5.jpg" alt=""></li>
                <li><img src="/Register/img/login6.jpg" alt=""></li>
            </ul>
        </div>

        <div class="footer">

            <nav class="indexMobileNav">

                <a href="/" class="indexMobileNavA"><i class="fas fa-home"></i></a>
                <a href="/login" class="indexMobileNavA"><i class="fas fa-user"></i></a>
                <a href="/carrito" class="indexMobileNavA"><i class="fas fa-shopping-cart"></i></a>
                <a href="#" class="indexMobileNavA"><i class="fas fa-bars"></i></a>

            </nav>

        </div>  
