<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <title>Gaming House</title>    
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="/app.css">
        <link rel="stylesheet" href="/Home/Home.css">
        <link rel="stylesheet" href="/NavBar/NavBar.css">
        <link rel="stylesheet" href="/SearchBar/SearchBar.css">
        <link rel="stylesheet" href="/Footer/Footer.css">
        <link rel="stylesheet" href="/HomeContent/HomeContent.css">
        <link rel="stylesheet" href="/HomeContentCard/HomeContentCard.css">
        <link rel="stylesheet" href="/ProductCar/ProductCar.css">
        <link rel="stylesheet" href="/ProductCarCard/ProductCarCard.css">
        <link rel="stylesheet" href="/ProductCarCard/Section.css">
        <link rel="stylesheet" href="/ProductDetail/ProductDetail.css">
        <link rel="stylesheet" href="/NewProduct/NewProduct.css">
        <link rel="stylesheet" href="/EditProduct/EditProduct.css">
        <link rel="stylesheet" href="/Account/Account.css">
        <link rel="stylesheet" href="/AccountNavBar/AccountNavBar.css">
        <link rel="stylesheet" href="/Configuration/Configuration.css">
        <link rel="stylesheet" href="/MyProducts/MyProducts.css">
        <link rel="stylesheet" href="/ProductUserCard/ProductUserCard.css">
    </head>
    
    <body>
        <%- include('Home/Home') %>
    </body>
</html>