<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Gaming House</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://www.fontzip.com/storage/2017/12/27/ubisoft-sans/webfonts/ubisoftsans-bold.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="/Register/Register.css">
    </head>
    
    <body>
        <%- include('Register/Register') %>
    </body>
</html>