
        <header>
            <div class="logo">
                <a href="/" class="indexMobileNavA"><i class="fas fa-dice-d20"></i></a>
            </div>
        </header>

        <div class="slider">
            <ul>
                <li><img src="/Login/img/login.jpeg" alt=""></li>
                <li><img src="/Login/img/login2.jpg" alt=""></li>
                <li><img src="/Login/img/login3.jpg" alt=""></li>
                <li><img src="/Login/img/login4.jpg" alt=""></li>
                <li><img src="/Login/img/login5.jpg" alt=""></li>
                <li><img src="/Login/img/login6.jpg" alt=""></li>
            </ul>
        </div>

        <!-- <img src="/images/login.jpeg" class="imagenlogin" alt=""> -->

        <main>    

            <h2>¡Conectate!</h2>
            <h3>Ingresa tus datos:</h3>

            <form action="/login" method="POST">
                <input type="text" name="email" placeholder="Correo">
                <input type="password" name="pass" placeholder="Contraseña del usuario">
                <div class="recordar">
                    <input type="checkbox" name="interests" value="a" id="a">
                    <label for="a">¿Recordar contraseña?</label>
                  </div>
                <input type="submit" value="Enviar">
            </form>

            <a href="#">Se me olvido mi contraseña</a>

            <div class="tipo-ingreso">
                <h3>Entrar como:</h3>
                <div class="profile">
                    <div class="comprador">
                    <input type="radio" name="profile" value="1" id="buy">
                    <label for="buy">Comprador</label>
                     </div>
                     <div class="vendedor">
                    <input type="radio" name="profile" value="2" id="sell">
                    <label for="sell">Vendedor</label>
                    </div>
                </div>
            </div>
            
            <div class="opciones">
            <a href="/register">No tengo cuenta</a>
            <a href="/">regresar</a>
            </div>
        </main>

        <div class="footer">

            <nav class="indexMobileNav">

                <a href="/" class="indexMobileNavA"><i class="fas fa-home"></i></a>
                <a href="/login" class="indexMobileNavA"><i class="fas fa-user"></i></a>
                <a href="/carrito" class="indexMobileNavA"><i class="fas fa-shopping-cart"></i></a>
                <a href="#" class="indexMobileNavA"><i class="fas fa-bars"></i></a>

            </nav>

        </div>  
  