<div class="productCar">
    <div class="pc_summary">
        <span class="pcs_title">Resumen del pedido</span>
        <div class="pcs_content">
            <div class="pcsc_l">
                <div>Subtotal:</div>
                <div>Envío:</div>
            </div>
            <div class="pcsc_r">
                <div class="pcscr_price">$ 0.00</div>
                <div class="pcscr_price">$ 0.00</div>
            </div>
        </div>
        <div class="pcs_content">
            <div class="pcsc_l">
                <div>Total:</div>
            </div>
            <div class="pcsc_r">
                <div class="pcscr_price">$ 0.00</div>
            </div>
        </div>
        <button class="pcs_button">
            Proceder al pago (2 productos)
        </button>
    </div>
    <div class="pc_itemsContent">
        <%- include('../ProductCarCard/ProductCarCard') %>
        <%- include('../ProductCarCard/ProductCarCard') %>
        <%- include('../ProductCarCard/ProductCarCard') %>
    </div>
</div>