<nav class="footer">
    <a href="/"><i class="fas fa-home foo_icon"></i></a>
    <a href="/account"><i class="fas fa-user foo_icon"></i></a>
    <a href="/car"><i class="fas fa-cart-plus foo_icon"></i></a>
    <a href="#"><i class="fas fa-bars foo_icon"></i></a>
</nav>