<div class="productCarCard">
    <div class="pcc_top">
        <div class="pcct_l">
            <input type="checkbox" /> <span>Nombre corto</span>
        </div>
        <div class="pcct_r">
            <button class="pcct_button">
                <i class="fas fa-trash pcct_icon"></i>
            </button>
        </div>
    </div>
    <div class="pcc_bottom">
        <div class="pccb_l">
            <div style="background-image: url(https://m.media-amazon.com/images/I/612OuMs29eL._AC_SL1200_.jpg)" class="pccbl_img"></div>
            <div class="pccbl_controls">
                <button class="pccblc_button">-</button>
                <span class="pccblc_count">1</span>
                <button class="pccblc_button">+</button>
            </div>
        </div>
        <div class="pccb_r">
            <div class="pccbr_a">
                Descripción larga
            </div>
            <div class="pccbr_b">
                <div class="pccbrb_setting"><b>Color:</b> Plateado</div>
                <div class="pccbrb_setting"><b>Material:</b> Aluminio</div>
                <div class="pccbrb_setting"><b>Tamaño:</b> Grande</div>
            </div>
            <div class="pccbr_c">
                $ 9.99
            </div>
        </div>
    </div>
</div>