<nav class="navBar">
    <a href="/section/1" title="Monitores"><i class="fas fa-desktop nv_icon"></i></a>
    <a href="/section/2" title="Audifonos"><i class="fas fa-headphones nv_icon"></i></a>
    <a href="/section/3" title="Teclados"><i class="fas fa-keyboard nv_icon"></i></a>
    <a href="/section/4" title="Mouses"><i class="fas fa-mouse nv_icon"></i></a>
    <a href="/section/5" title="Bocinas"><i class="fas fa-volume-up nv_icon"></i></a>
</nav>