<nav class="accountNavBar">
    <a href="/account/"><i class="fas fa-cog anv_icon"></i>&nbsp;&nbsp;&nbsp;Configuración</a>
    <a href="/account/myproducts"><i class="fas fa-th-list anv_icon"></i>&nbsp;&nbsp;&nbsp;Mis productos</a>
</nav>